<section id="footer-section" th:fragment="footer">
<footer id="footer">
    <div class="container" th:fragment="footer">
        <div class="container" id="footer-icon">
            <a href="https://github.com/jw-park-github">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://kr.linkedin.com/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <p>
            This website is powered by Spring Boot.
        </p>
        <p>
            © 2024 Jinwoo Park. All rights reserved.
        </p>
    </div>
</footer>
</section>