<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task App 2023</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/todo.css" />
</head>
<body>
<main>
    <div class="app">
        <header>
            <h1 >To-Do</h1>
            <button id="create-btn">+ New task</button>
        </header>

        <div class="todo-list" id="list">
            <!-- <div class="item">
                      <input type="checkbox" />
                      <input
                          type="text"
                          value="Todo content goes here"
                          disabled />
                      <div class="actions">
                          <button class="material-icons">edit</button>
                          <button class="material-icons remove-btn">remove_circle</button>
                      </div>
                  </div> -->
        </div>
    </div>
</main>
<script src="/js/todo.js"></script>
</body>
</html>
